* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body,
main {
 height: 100vh;
 width: 100vw;
 background-color: #18181b;
}

body[data-nav="true"] > main {
 transform: translateY(-50%);
}

main {
 background-image: url("https://images.unsplash.com/photo-1501803624108-4ac0e0b7355a");
 background-size: cover;
 background-position: center 0%;
 position: relative;
 z-index: 2;
 
 /* animation */
 transition: transform 500ms;
}

nav {
 height: 50vh;
 width: 100%;
 position: absolute;
 left: 0px;
 bottom: 0px;
 z-index: 1;
 overflow: hidden;
}

#nav-toggle {
 height: 5rem;
 width: 5rem;
 position: fixed;
 z-index: 99;
 left: 50%;
 bottom: 3rem;
 transform: translateX(-50%);

 background-color: burlywood;
 border: none;
 border-radius: 5rem;
 outline: none;
 box-shadow: 0rem 0rem 4rem rgba(0 0 0 / 35%);
 cursor: pointer;
 transition: transform, background-color;
 transition-timing-function: ease;
 transition-duration: 400ms;
}

#nav-toggle:hover {
 transform: translateX(-50%) scale(1.04);
}

#nav-toggle:active {
 transform: translateX(-50%) scale(0.96);
}

/* change */
#nav-toggle > i {
 position: absolute;
 left: 50%;
 top: 50%;
 transform: translate(-50%, -50%) scale(0.9);
 color: rgb(246, 231, 224);
 font-size: 1.75rem;
 opacity: 0;
}

#nav-links {
 display: flex;
 justify-content: center;
 /* flex-wrap: wrap; */
 gap: clamp(1rem, 2vw, 2rem);
 margin-top: clamp(2rem, 2vw, 3rem);
 padding: 0rem clamp(1rem, 2vw, 2rem);
 transform: translateY(70%) scale(0.9);
 transition: transform 500ms cubic-bezier(.13, .53, .38, .97);
}

body[data-nav="true"]>nav>#nav-links {
 transform: translateY(0%) scale(1);
}

#nav-links > .nav-link {
 text-decoration: none;
}

#nav-links > .nav-link > .nav-link-label {
 color: white;
 font-size: 1.25rem;
}

#nav-links>.nav-link>.nav-link-image {
 width: max(30vw, 200px);
 aspect-ratio: 1.8 / 1;
 border-radius: 0.5rem;
 margin-top: 0.75rem;
 object-fit: cover;
}